# Visual Studio Code and Visual Studio files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.csproj
*_i.c
*_p.c
*.obj
*.pch
*.idb
*.pdb
*.ipch
*.bak
*.cache
*.ilk
*.log
*.dll
*.exe
*.resx
*.resources
*.user
*.userosscache
*.scc
*.vspscc
*_i.c
*_p.c
*.pidb
*.mdf
*.ldf
*.xsd
*.xcuserdata
*.xcworkspace
*.yml
*.tlog
*.diff
*.dep
*.tmp
*.sqlite3
*.sqlite
*.sqlproj
*.iobj
*.ipdb
*.opendb
*.myapp
*.hdf
*.psess
*.vsp
*.ps
*.vssscc
*.vshost*
*.vsix
/appsettings.json
/bin/
/obj/

